node_modules
dist
.env
.env.local
uploads
.claude
.clauderules
CLAUDE.md
CLAUDE.local.md

# Prisma
prisma/generated

# Logs
logs
*.log
npm-debug.log*

# Sistema operacional
.DS_Store
Thumbs.db

# Editor
.vscode/settings.json
.idea
